@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  font-family: Open Sans;
}

.backgroundColorCard {
  background-color: #414141;
}

.container {
  display: flex;
}

.card {
  min-height: 100vh;
  width: 512px;
  background-color: #2B2B2B;
  margin-right: 4px;
  padding-bottom: 40px;
}

.card:last-child {
  margin-right: 0;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h2 {
  margin: 160px;
}

.elementsHeader {
  background-color: transparent;
  color: #fff;
  font-size: 35px;
}

.specialCharacter {
  font-size: 60px;
  background-color: transparent;
  color: #18C29C;
}

.createNewItem {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  background-color: transparent;
}

.createNewItem > p {
  background-color: transparent;
} 

.iconCreate {
  height: 50px;
  width: 50px;
  margin: 30px;
  cursor: pointer;
}

.cardCreated {
  height: 420px;
  width: 400px;
  background-color: #414141;
  margin: 10px 0 0 30px;
  display: flex;
}

.column {
  height: 100%;
  width: 5px;
  background-color: #88F9D4;
}

.elements {
  height: 360px;
  width: 280px;
  padding-bottom: 200px;
  padding: 30px;
}

.fundo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
  width: 240px;
  color: #000;
  background-color: #fff;
  margin: 10px 0 10px 0;
}

.elements > h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
}

.elements > .type {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}

.elements > select {
  height: 30px;
  width: 220px;
  margin-bottom: 50px;
  background-color: #fff;
  cursor: pointer;
}

.elements > .paragraphCard {
  width: 340px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
}

.setings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 0 0 30px;
  height: 405px;
  width: 15px;
}

.setings > svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.setings > p {
  color: #fff;
  padding-bottom: 10px;
}

.backgroundColorModal {
  height: 100vh;
  background-color: #00000030;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalContainer {
  height: 430px;
  width: 510px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #EDEDED;
}

.modalContainer > h2  {
  margin: 0 0 32px 32px;
}

.modalContainer > p {
  margin: 15px 0 10px 32px;
  font-size: 15px;
  font-weight: bold;
}


.closeModalContainer {
  display: flex;
  justify-content: flex-end;
}

.closeModal {
  width: 26px;
  height: 26px;
  background-color: #D04A4A;
  border-radius: 50%;
  margin: 16px 13px 0 0;
  cursor: pointer;
}

.inputType {
  width: 430px;
  height: 40px;
  border: 2px solid black;
  margin-left: 32px;
  border-radius: 8px;
  padding-left: 16px;
}

.typeOfTask {
  margin: 0 0 15px 32px;
  background-color: #D9D9D9;
  height: 30px;
  width: 210px;
}

.btnConfirmarModal {
  margin: 20px 0 0 0;
  width: 452px;
  height: 46px;
  background-color: rgb(62, 62, 255);
  color: #FFF;
  margin-left: 32px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}